@{
    ViewData["Title"] = "Hello World!";
}

<table>
    <tr>
        <td style='width: 30%;'>
            <img class="newappIcon" src="/images/newapp-icon.png">
        </td>
        <td>
            <h1 id="message">Hello Bluemix World!</h1>
            <p class='description'></p> I published this thru github <span class="blue">ASP.NET Core Starter Application</span>.
        </td>
    </tr>
</table>
